
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  link {}
  
  body {
    color: #343434; /* almost black*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  img {
    width: 300px;
  }
  
  a {
    color: #D79784;
    text-decoration: none;
  }
  
  a:hover {
    font-weight: 800;
    letter-spacing: 0.3px;
  }
  
  h1 {
    font-size: 70px;
    line-height: 1;
  }
  
  h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400px;
  letter-spacing: 3.5px;
  margin: 2;
  }
  
  h1 {
    font-weight: 350px;
  }
  
  h2 {
    letter-spacing: normal;
    font-weight: normal;
    font-size: 45px;
    text-align: left;
  }
  
  .content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  
  }
  h3 {
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .item-details h3 + p {
    font-style: italic;
  }
  
  .item-details h3 ~ p {
    margin: 0;
  }
  
  .divider > section {
      border-bottom: 1px dashed #463f3aff;
      padding: 25px 0;
  }
  
  .divider > section:last-of-type {
    border-bottom: none;
  }
  
  /* Profile*/
  
  header {
    background: #343434;
    color: #F7FFF7;
  }
  
  /* Skills*/
  
  .skill-item {
    overflow: hidden;
    border-bottom: 1px dashed #463f3aff;
    padding: 25px 0;
  }
  
  .skill-item h3 {
    margin-top: 0;
  }
  
  details > summary {
    font-family: inherit;
    width: 70%;
    background-color: #F0D8D1;
    color: #463F3A;
    cursor: pointer;
    padding: 10px;
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-size: 16px;
    line-height: 20px;
  }
  
  .active, .details:hover {
    background-color: #e3aea7;
    color: #444;
    font-weight: 550;
    letter-spacing: 0.3px;
  }
  
  details > p {
    background-color: #e3aea7;
    color: #444;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
  
  .content {
    padding: 0 110px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  /* Work experience
  ----------------------------------*/
  
  .work-experience {
    background: #D9D7D3;
  }
  
  .work-experience h2, .education h2 {
    margin-bottom: 0;
  }
  
  /* Education*/
  
  .education {
    background: #f1f1f1;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }
  
  .education p {
    width: 60%;
  }
  
  /* Contact */
  footer {
    background: #343434;
    color: white;
  }
  
  footer a {
    color: #DA9289;
  }
  
  footer a:hover {
    color: #e3aea7;
  }
  
  footer h2 {
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0;
  }
  
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-list a {
    padding: 15px;
    display: inline-block;
  }
  
  /* Responsive*/
  
  /*For larger screens */
  @media screen and (min-width:750px){
    header, footer, h1 + h2:first-of-type, h1, h2  {
      text-align: center;
    }
  
    .skill-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 40px;
  
  }
    .job-item {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
    }
  
    .contact-list {
      display: flex;
      justify-content: center;
    }
  
  }
  
  /* For smaller screens */
  
  @media screen and (max-width:749px){
  
    h1 {
      font-size: 55px;
      line-height: 0.9;
      margin-bottom: 20px;
    }
  
    h2 {
        line-height: 1;
    }
  
    .skill-photo {
      margin-bottom: 20px;
    }
  
    .skill-photo img {
      align-items: center;
    }
  
    .skill-photo, skill-summary {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    grid-auto-columns: minmax(0,1fr);
    }
  
    .collapsible {
      width: 50%;
    }
  
    .contact-list a {
      padding: 5px;
    }
  
    footer h2 {
      margin-bottom:
    }
  
    }
  